<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content=ie=edge>
        <link rel="stylesheet" href="./stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/images/favico.png">
        <title>CRC16</title>
        <meta name="description" content="Web app that allows you to calculate the tranmitted message, and helps detect if a message has arrived correctly">
        <meta name="keywords" content="crc16, online, calculator, check, message, remainder, transmitted">
    </head>
    <body>
        <div class="ui">
            <div class="information">
                <h1>CRC16</h1>
                <p>This application allows you to calculate the CRC16 necessary to check your receiving message accuracy</p>
                <div class="author">
                    <a  href="https://github.com/Pablo61098" ><img src="./images/yomero.jpg" width="30px" height="30px" alt=""></a>
                    <a  href="https://github.com/Pablo61098" target="_blank"><p id="authorName">Pablo Solano</p></a>
                    <p>Date published: 09/15/20</p>
                </div>
            </div>
            
            <div class="configuration">
                <div class="tab-header">
                    <% if(type == 'calculate'){ %>
                        
                        <a href="/calculate"><button class="tab-link active">Calculate CRC</button></a>
                        <a href="/check"><button class="tab-link">Check</button></a>
                    <% }else if(type == 'check'){ %>
                        
                        <a href="/calculate"><button class="tab-link">Calculate CRC</button></a>
                        <a href="/check"><button class="tab-link active">Check</button></a>
                    <% } %>                    
                </div>
                <% if(type == 'calculate'){ %>
                    <div class="tabcontent" id="calculate">
                        <form action="/calculate" method="POST">
                            <div class="mx">
                                <h3>m(x) -> Mensaje a enviar</h3>
                                <% if(result){ %>
                                    <input name="message" id="" value="<%= mensajeEnviar %>" cols="30" rows="10" placeholder="Ingrese un mensaje..." maxlength="1020" required></input>
                                <% }else{ %>
                                    <input name="message" id="" cols="30" rows="10" placeholder="Ingrese un mensaje..." maxlength="1020" required></input>
                                <% } %>
                            </div>
                            <div class="gx">
                                <h3>g(x) -> CRC Polynomial</h3>
                                <math>
                                    g(s) = x<sup>16</sup> + x<sup>12</sup> + x<sup>12</sup> + x<sup>5</sup> + 1
                                </math>
                            </div>
                            
                            <button  type="submit" class="send">CALCULAR</button>
                            
                        </form>
                    </div>
                <% } %>
                <% if(type == 'check'){ %>
                    <div class="tabcontent" id="check">
                        <form action="/check" method="POST">
                            <div class="tx">
                                <h3>t(x) -> Mensaje transmitido</h3>
                                <textarea name="message" id="mensaje-tx" pattern="[0-1]{6,25} cols="30" rows="10" placeholder="Ingrese un mensaje..." required><% if(result){ %><%= binaryMessage %><% } %></textarea>
                            </div>
                            <div class="gx">
                                <h3>g(x) -> CRC Polynomial</h3>
                                <math>
                                    g(s) = x<sup>16</sup> + x<sup>12</sup> + x<sup>12</sup> + x<sup>5</sup> + 1
                                </math>
                            </div>
                            <div class="calculable">
                                <div class="calculated">
                                    <div class="residuo">
                                        <label for="">Residuo:</label>
                                            <% if(result){ %>
                                                <input placeholder="The remainder of your t(x) will be shown here..." value="<%= remainder %>" name="remainder" id="rx" type="text" readonly>
                                            <% }else{ %>
                                                <input placeholder="The remainder of your t(x) will be shown here..." name="remainder" id="rx" type="text" readonly>
                                            <% } %>
                                        </input>
                                    </div>
                                    <div class="mensaje">
                                        <label for="">Mensaje:</label>
                                            <% if(result){ %>
                                                <input placeholder="The message of your t(x) will be shown here..." name="textTransformed" id="tx-transformado" value="<%= stringMessage %>" type="text">
                                            <% }else{ %>
                                                <input placeholder="The message of your t(x) will be shown here..." name="textTransformed" id="tx-transformado" type="text">
                                            <% }%>
                                        </input>
                                    </div>
                                    <div class="button-send">
                                        <button type="submit" class="send">CHECK</button>
                                    </div>
                                </div>
                                <% if(result == true && type == 'check') { %>
                                    <div class="validity">
                                        <% if(validity){ %>
                                            <div class = "success-checkmark">
                                                <div class="check-icon">
                                                    <div class="icon-circle">
                                                    </div>
                                                    <div class="inside">
                                                        <span class="icon-line line-tip"></span>
                                                        <span class="icon-line line-long"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }else{ %>
                                            <div class="denied">
                                                <div class="left-side">
                                                </div>
                                                <div class="right-side">
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                        </form>
                       
                    </div>
                <% } %>
            </div> 

            <% if( typeof(messageTooLong) !== 'undefined' && result == true && type == 'calculate'){ %>
                <div class='messageTooLong'>
                    <span>Maximum message length reached</span>
                </div>
            <% } %>

            <% if(result == true && type == 'calculate') { %>
                <div class="summary">
                    <h3 for="">Message in binary: </h3>
                    
                    <% let digitsBinary = ""; %>
                    <% let last = ""; %>
                    <% let flag =true; %>
                    <% for(let i=0; i<information.binaryMessage.length; i++){ %>
                        <% if( i < information.binaryMessage.length - CRCsize){ %>
                            <% digitsBinary += information.binaryMessage[i] + " "; %>
                        <% }else{ %>
                            <% last += information.binaryMessage[i] + " "; %>
                        <% } %>
                    <% } %>
                    <span class="digitsBinary">-> <%= digitsBinary %></span>
                    <br/>
                    <span class="last"><%= last %> <-</span>
                    <h3 for="">Remainder: </h3>
                    
                    <% let remainder = "";%>
                        <% for(let i= CRCsize; i>0; i-- ){ %>
                            <% if(information.remainders[information.remainders.length - 1][i-1] == 1 ){ %>
                                <% remainder+="1 "; %>
                            <% } else { %>
                                <% remainder+="0 "; %>
                            <% } %>
                        <% } %>
                    <span id="remainderBinary">-> <%= remainder %> <-</span>
                    <br/>
                    <div class="separator"></div>
                    <h3 for="">Transmitted Message: </h3>
                    <span class="digitsBinary">-> <%= digitsBinary %></span>
                    <br/>
                    <span id="remainderBinary"><%= remainder %><-</span>
                </div>
                
                <% if(showProcess){ %>
                    <div class="scrollable">
                        <div class="result">
                            <div class="divisor">
                                <math>
                                    x<sup>16</sup> + x<sup>12</sup> + x<sup>12</sup> + x<sup>5</sup> + 1
                                </math>
                            </div>
                        <div class="process">
                                <% respuesta=""; %>
                                <% for(let i=0; i<information.counter;i++){ %>
                                    <div class="operation">
                                        <div class="coeficient">
                                            <% for(let k=0; k<i+1; k++){ %>
                                                <% if(k==0 && information.diferencias[k]>=0){ %>
                                                    x<sup><%= information.diferencias[k] %></sup>
                                                <% }else if(information.diferencias[k]>=0){ %>
                                                    + x<sup><%= information.diferencias[k] %></sup>
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <div class="dividend">  
                                            <code>
                                                <% counter = information.remainders[i].length-1; %>
                                                <% counter = len; %>
                                                <% for(let j=len; j>=information.lastIndexes[i]; j--){ %>
                                                    <% try{ %>
                                                        <% if(information.remainders[i][j]==0 && j>=0){ %>
                                                            <span class="space"></span>
                                                        <% }else if(information.remainders[i][j]==1){ %>
                                                            
                                                            <% if(information.lastIndexesResiduo[i] == counter){ %>
                                                                <span class="space">x<sup><%= j %></sup></span>
                                                            <% }else{ %>
                                                                <span class="space">x<sup><%= j %></sup> +</span>
                                                            <% }%>
    
                                                        <% }else{ %>
                                                            <span class="space"></span>
                                                        <% } %>
                                                        <% counter -= 1; %>
                                                    <% }catch(err){ %>        
                                                    <% } %>
                                                <% } %>
                                            </code>
                                        </div>
                                        <div class="receiver">
                                            <code>
                                                <% if(i != information.counter-1){ %>
                                                    -(
                                                    <% minimo = Math.min(...information.listaIndices[i]); %>
                                                    <% for(let j=len; j>=minimo; j--){ %>
                                                        <% if(information.listaIndices[i].includes(j)){ %>
                                                            <% if(j == minimo){ %>
                                                                <span class="space">x<sup><%= j %></sup></span>
                                                            <% }else{ %>
                                                                <span class="space">x<sup><%= j %></sup> +</span>
                                                            <% }%>
                                                        <% }else{ %>
                                                                <span class="space"></span>
                                                        <% }%>
                                                        <% counter -= 1; %>
                                                    <% } %>
                                                    )
                                                <% } %>
                                            </code>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }else{ %>
                    <div class="process-note">
                        ** PROCESS TO LONG TO SHOW
                    </div>
                <% } %>
            <% } %>  
        </div>


        <script type="text/javascript" src="./javascript/control.js"></script>
    </body>
</html>
